@{
    ViewData["Title"] = "Home Page";
}
<div class="container-inicio">
        <main role="main" class="back">
<div class="text-center">
    <h1>VENTA DE CONSERVAS DE PESCADO<span></span></h1>
          <h2>"Las mejores conservas de la industria"</h2>
          <h1>Conoce nuestros productos <span></span></h1>
</div>
 </main>
    </div>