@{
    ViewData["Title"] = "Privacy Policy";
}


<div class='nosotros' id = 'nosotros'>
    <div class='nosotros-p'>
        <h1>Inversiones JC es una empresa dedicada a la venta y distribucion de conservas de pescado.</h1>
        <ul>
            <li><i class="fas fa-check-double"></i>  El objetivo General es prestar el servicio adecuado y muy riguroso a nivel nacional y producir un impacto positivo en el entorno donde se posiciona Inversiones JC.</li>
        </ul>
        <h1>Ubicación Y desarrollo.</h1>
        <ul>
            <li><i class="fas fa-check-double"></i>  La empresa Inversiones JC se encuentra ubicado con oficina principal en Desaguadero Frontera Peru-Bolvia y con Oficina en Lima. Se desarrolla en el Ámbito de Distribución del Sector Primario pone en venta al por mayor productos de Conserva de Pescado en Diferentes Tipos de en latadas.</li>
        </ul>
    </div>
    <div class='img'><img src="~/img/pes.jpg"></div>
</div>
